/* Global */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

.botao {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.realce-semibold {
  font-weight: 600;
}

/* Cabeçalho */
.lista-cabecalho a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Seção Hero */

.hero-paragrafo {
  font-size: 19px;
}

/* Seção Conteúdos Gratuitos */

h2.gratuito-h2 span {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 23px;
  font-weight: 700;
}

.gratuito-item-lista {
  font-size: 19px;
  text-decoration: none;
}

/*  Seção Diferenciais */
#h2-diferenciais {
  font-size: 35px;
  font-weight: 400;
}

.p-diferenciais {
  font-size: 19px;
}

.h3-diferenciais {
  font-size: 24px;
  color: #005ebb;
  font-weight: 600;
}

.h3-diferenciais-empresas {
  font-size: 35px;
  font-weight: 400;
}

.h3-diferenciais-empresas a {
  color: #005ebb;
  text-decoration: none;
  font-weight: 700;
}

/* Seção Blog da Hashtag */
.blog-postadoem {
  font-size: 15px;
}

.blog-postadoem a {
  text-decoration: none;
  font-weight: 600;
  color: #f7a70c;
}

.a-blog-titulo {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.blo-descricao-post {
  font-size: 17px;
}

/* Seção Como ajudar */
.comoajudar-lista .comoajudar-paragrafo {
  font-size: 19px;
}

.comoajudar-paragrafo a,
.comoajudar-lista a {
  color: #008ff7;
  font-weight: 600;
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Seção Rodapé */
.rodape-titulo {
  font-weight: 600;
  font-size: 22px;
}

.rodape-subtitulo {
  font-size: 20px;
  font-weight: 500;
}

.rodape-subtitulo2 {
  font-size: 18px;
  font-weight: 500;
}

.rodape-link {
  color: #1a77a4;
}
