/* Global */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

.botao {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

/* Cabeçalho */
.lista-cabecalho a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Seção Hero */

.hero-paragrafo {
  font-size: 19px;
}

/* Seção Conteúdos Gratuitos */

h2.gratuito-h2 span {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 23px;
  font-weight: 700;
}

.gratuito-item-lista {
  font-size: 19px;
  text-decoration: none;
}

/*  Seção Diferenciais */
#h2-diferenciais {
  font-size: 35px;
  font-weight: 400;
}

.p-diferenciais {
  font-size: 19px;
}

.h3-diferenciais {
  font-size: 24px;
  color: #005ebb;
  font-weight: 600;
}

.h3-diferenciais-empresas {
  font-size: 35px;
  font-weight: 400;
}

.h3-diferenciais-empresas a {
  color: #005ebb;
  text-decoration: none;
  font-weight: 700;
}

/* Seção O que falam */
.oquefalam-h2 span {
  font-weight: 600;
}

/* Seção Blog da Hashtag */
